* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
body {
	width: 60%;
	max-width: 600px;
	margin: 0 auto;
}
code {
	font-family: Menlo, Monaco, mono;
}
p {
	/* For some reason, Arial looks better than Helvetica Neue */
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

.normal {
	font-weight: normal;
}
h3 {
	font-family: Menlo, Monaco, mono;
}
h2 {
	text-align: right;
	margin-top: 10px;
	margin-bottom: -10px;
	color: #a5a5a5;
}
.module {
	margin-bottom: 40px;
}
.function {
	padding-left: 12px;
	margin-bottom: 20px;
}
.function p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.function p.typesig {
	padding-left: 10px;
	border-left: 4px solid #ebebeb;
	color: #b2b2b2;
	font-size: 13px;
}
.function p.typesig strong {
	color: #656565;
	font-weight: normal;
}
.module .function:nth-child(odd) {
	background-color: #f9f9f9;
}